 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <h1 style="color:white; text-align:center;">Polling application</h1>
  </div>
</nav>