{% extends 'polls/base.html'%}
{% block main_content %}
<h1>Choose a question </h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}"><b>{{ question.question_text }}</b></a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{% endblock %}
