{%extends 'polls/base.html'%}
{% block main_content %}


<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a><br>
<a href="{% url 'polls:index' %}"><--- Back to questions list</a>



{% endblock %}