li a{
    color: red;
     font-weight: bold;
      font-size: 200%;
}

.option{
	color: red;
     font-weight: bold;
      font-size: 200%;
}

body {
    background: url("images/background.jpg") no-repeat;
    height:100%;
 
    background-size: cover;
     background-position-y: 0px;
     color:black;
}